{% assign progress_bar_color = settings.shipping_bar_color %}

<div class="basmil upsell-container flex justify-center items-center gap-[10px]">
  {% assign shipping_value = settings.minimum_free_shipping | times: 100 %}
  {% assign cart_total = cart.total_price %}
  {% assign shipping_value_left = shipping_value | minus: cart_total %}
  {% assign shipping_percentage_fraction = cart_total | times: 100 | divided_by: shipping_value %}
  <p class="shipping-message">
    {% if shipping_value_left > 0 %}
      <span class="free_shipping_notice">You’re
        <span class="text-[#981515]">{{ shipping_value_left | money }}</span>
        away from free shipping!</span>
    {% elsif shipping_value_left <= 0 %}
      <span>You have free shipping !!!</span>
    {% endif %}
  </p>

  <div class="progress-bar">
    <div class="transition-all progress-bar-done" data-progress="loading">
      <span></span>
    </div>
    <div class="progress-dots transition-all rounded-full shadow-[-1px_0px_2px_0px_#00000040] absolute top-[0] -translate-x-3/4 h-[2vh] w-[2vh]" style="z-index:2; display:block!important; background:{{ progress_bar_color }};
    left: {% if shipping_percentage_fraction >= 100 %}
      100%
      {% else %}
      {{ shipping_percentage_fraction }}%
      {% endif %};">
</div>


  </div>

</div>

<style>
  .upsell-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2vh;
  }

  .progress-bar {
    background-color: #E2E4E3;
    display: flex;
    height: 2vh;
    width: 100%;
    border-radius: 0.75em;
    padding: 3px;
    position: relative;
    align-items: center;
  }

  .progress-bar-done {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: {{ progress_bar_color }};
    background-image: repeating-linear-gradient(to left, {{ progress_bar_color }}, {{ progress_bar_color | color_lighten: 10 }}, {{ progress_bar_color | color_lighten: 20 }});

    box-shadow: 0 5px 5px -6px{{ progress_bar_color }};
    z-index: 2;
    /* border-radius: 0.75em; */
    height: 100%;
    transition: 1s ease 0.3s;
    max-width: 100%;
    width: {{ shipping_percentage_fraction }}%;
  }

  .free-shipping-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #E2E4E3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-bar::before {
    content: ' ';
    width: calc(100% - 6px);
    position: absolute;
    border: 1px solid #D9D9D9;
    height: calc(100% - 8px);
    z-index: 0;

  }

  .iconicion {
    box-shadow: 0 0 10px rgba(62, 101, 207, 0.5);
    border: 1px solid black;
    transition: 1s ease 0.7s;
  }
  
  .free_shipping_notice{
    font-size:1.4rem;
  }

  .progress-bar{
    height:1.6vh;
  }
  .progress-dots{
    width:1.6vh;
    height:1.6vh;

  }
    @media(max-width:1280px){
  }

</style>