{% assign sections = section.settings %}
<style>
      #shopify-section-{{ section.id }} {
        {% if sections.background_on == 'main_section' %}
          {% if sections.background_type == 'color'  %}
            background: {% if sections.background_gradient != blank%}{{sections.background_gradient}} {% else %} {{ sections.background_color }}
          {% endif %};
        {% elsif sections.background_type == 'image' and sections.background_image != blank %}
            background:{% if sections.background_gradient != ""%}{{sections.background_gradient}},{% endif %}url('{{ sections.background_image | image_url }}') no-repeat {{' '}}{{ sections.background_position }};
            background-size: {{ sections.background_size }};
      {% endif %};
    {% endif %};
    }

    @media (max-width: 1167px) {
      #shopify-section-{{ section.id }} .main-wrapper {
        max-width: 100% !important;
        margin: 0 auto!important;
        width:100%!important;
      }
    }

    @media (max-width: 768px) {
      #shopify-section-{{ section.id }} .main-wrapper {
        padding-left: 0 16px 4rem 16px !important;
        max-width: 100% !important;
      }
    }

    #shopify-section-{{ section.id }} .wrapper{
      width:{{ sections.width }};
      min-height:{{ sections.minheight }};
    margin:{{sections.margin}};
    padding: {{sections.padding}};
    {% if sections.background_on == 'content_part' %}
      {% if sections.background_type == 'color' and sections.background_color %}
        background: {{ sections.background_color }};
      {% elsif sections.background_type == 'image' and sections.background_image %}
        background: url('{{ sections.background_image  | image_url }}') no-repeat {{ sections.background_position }};
        background-size: {{ sections.background_size }};
      {% else %}
      ''
      {% endif %};
    {% endif %};
  }


    @media(max-width:768px){
        {% if sections.padding contains '12rem' %}
          {% assign updated_padding = sections.padding | replace: '12rem', '6.25rem' %}
        {% elsif sections.padding contains '15rem' %}
          {% assign updated_padding = sections.padding | replace: '15rem', '56px' %}
        {% else %}
          {% assign updated_padding = sections.padding %}
        {% endif %}
        #shopify-section-{{ section.id }} .wrapper.wrapper{
        padding: {{ updated_padding }};
      }
    }

      #shopify-section-{{ section.id }} .main-wrapper .imagepart{
    width:{{ sections.image_width }};

  }
  #shopify-section-{{ section.id }} .contentside h3{
    font-family: "Crimson Text";
    font-weight:600;
  }

  #shopify-section-{{ section.id }}  .imagepart{
    position: absolute;
    top: 50%;
    max-height: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<div
  {% if sections.custom_id %}
    id="{{ sections.custom_id }}"
  {% endif %}
  class="main-wrapper wrapper flex justify-center w-full {{ sections.custom_class }}"
>
  <div
    class="
      contain-wrapper
      grid
        {% if section.blocks.size == 1 %}
         grid-cols-1
         {% elsif section.blocks.size == 2 %}
         grid-cols-2
            {% else %}
         grid-cols-3 sm:grid-cols-2
        {% endif %}


      {% if sections.valignment == "top"  %}
        items-start
      {% elsif sections.valignment == "center" %}
        items-center
      {% else %}
        items-end
      {% endif %}
      {% if image %}
      justify-between
      {% else %}
      justify-center
      {% endif %}
      w-[100%] sm:gap-[4rem!important] md:gap-[2.5rem!important] sm:flex-col sm:justify-center sm:text-center sm:items-center
    "
    style="gap: {{sections.gapimage}};"
  >
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'content' %}
          <div
            class="
                  {% if forloop.index == 1 %}
               col-start-1
               col-end-2
               {% elsif forloop.index == 2 %}
                    col-start-2
               col-end-3
                  {% else %}
               col-start-3
               col-end-4
               sm:col-start-2
               sm:col-end-3
              {% endif %}
                    contentside  flex {{sections.alignment}} gap-[3.2rem] sm:gap-[2rem]  sm:relative flex-col items-start   md:p-6 sm:max-w-[100%!important] sm:text-center sm:items-center w-full max-content-width
                    {% comment %} md:max-w-[50%!important] {% endcomment %}
            "
            style="max-width:{{ sections.content_width }}; color:{{ sections.content_color }};"
          >
            {% if block.settings.description != '' %}
              <div class="{{sections.alignment}} sm:text-center ">{{ block.settings.description }}</div>
            {% endif %}
          </div>
        {% when 'image' %}
          {% capture image %}
          {% if block.settings.image != blank or block.settings.svg != blank %}
            <div class="relative w-full h-full imagecontainer" >
            <style>
              #shopify-section-{{ section.id }} .main-wrapper .imagepart{
                  width:{{ block.settings.image_width }};

              }
              @media (max-width: 768px) {
                  #shopify-section-{{ section.id }} .main-wrapper .imagepart.imagepart {
                  width: 100% ;
                  }
              }
            </style>

            {% if block.settings.image_type == 'image' %}
              {% if block.settings.image != blank %}
                <img
                  class="
                    {{ sections.image_clickable }}
                    {%- if sections.image_clickable == false or linkurl == blank -%}
                    imagepart {%- else -%} w-full {%- endif -%} {{ " " }} {{ sections.alignment }} object-contain sm:max-w-[100%] m-[auto!important]
                  "

                  src="{{ block.settings.image | image_url}}"
                  alt="{{ block.settings.image.alt |  default: block.settings.image_alt  }}"
                  width="487"
                  height="332"
                  loading="lazy"
                >
              {% endif %}

            {% elsif block.settings.image_type == 'svg' %}
              {% if block.settings.svg != blank %}
                {% if block.settings.svg contains '<svg' %}
                  {% assign svgwidth = '<svg class="imagepart h-auto  sm:max-w-[100%] m-auto"' %}
                  {{ block.settings.svg | strip_newlines | replace: '<svg', svgwidth }}
                {% else %}
                  <svg class="imagepart" xmlns="http://www.w3.org/2000/svg" fill="none" class="h-auto sm:max-w-[100%]">
                    <use xlink:href="{{'main.svg' | asset_url }}#{{block.settings.svg | strip_newlines | escape}}"></use>
                  </svg>
                {% endif %}
              {% endif %}
            {% else %}
              <div class="imagepart h-auto  sm:max-w-[100%] m-auto">
                {% assign code = block.settings.svg %}
                {% if code and code contains '[' and code contains ']' %}
                  {% assign first_bracket = code | split: '[' | last %}
                  {% assign content_inside_brackets = first_bracket | split: ']' | first %}
                  {% if content_inside_brackets != code %}
                    {% include content_inside_brackets %}
                  {% else %}
                    {{ block.settings.svg | strip_newlines }}
                  {% endif %}
                {% else %}
                  {{ block.settings.svg | strip_newlines }}
                {% endif %}
              </div>
            {% endif %}
          </div>

          {% endif %}
        {% endcapture %}
          {% if sections.image_clickable and linkurl != blank %}
            <a href="{{linkurl }}" class="imagepart" style="cursor: pointer;">
              {{ image }}
            </a>
          {% else %}
            {{ image }}
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Basmil Image Richtext",
  "class": "basmilRichtextImage",
  "settings": [
    {
      "type": "header",
      "content": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image Layout"
    },
    {
      "type": "checkbox",
      "id": "image_clickable",
      "label": "Make the Image Clickable",
      "default": false
    },

    {
      "type": "header",
      "content": "Content alignment"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Content Alignment",
      "default": "contentstart",
      "options": [
        {
          "value": "contentstart",
          "label": "Left"
        },
        {
          "value": "contentcenter",
          "label": "Center"
        },
        {
          "value": "contentend",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "valignment",
      "label": "Content Verticle Alignment",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "bottom"
        }
      ]
    },
    {
      "type": "text",
      "id": "gapimage",
      "label": "Content and Image Gap",
      "default": "5.3rem"
    },
    {
      "type": "header",
      "content": "Content Part Width"
    },
    {
      "type": "text",
      "id": "content_width",
      "label": "Content Width",
      "default": "50%"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "12rem 16px",
      "info": "eg: 16px 16px 16px 16px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0",
      "info": "eg: 16px 16px 16px 16px"
    },
    {
      "type": "header",
      "content": "Custom Class/id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    },
    {
      "type": "header",
      "content": "Section Width"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Width",
      "default": "116.6rem",
      "info": "eg: 116.6rem"
    },
    {
      "type": "header",
      "content": "Section Height"
    },
    {
      "type": "text",
      "id": "minheight",
      "label": "Min Height",
      "default": "auto",
      "info": "eg: 116.6rem"
    },
    {
      "type": "header",
      "content": "Section Background"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background Type",
      "default": "color",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "background_gradient",
      "label": "Background Gradient",
      "info": "eg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_on",
      "label": "Choose Background on",
      "default": "content_part",
      "options": [
        {
          "value": "content_part",
          "label": "Content Part"
        },
        {
          "value": "main_section",
          "label": "Main Section"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Contents",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Paragraphs Here</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image/HTML/SVG",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Select Type",
          "info": "Select the type of image you want to display"
        },
        {
          "type": "select",
          "id": "image_type",
          "label": "Image Type",
          "default": "image",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "svg",
              "label": "SVG"
            },
            {
              "value": "html",
              "label": "HTML"
            }
          ]
        },
        {
          "type": "header",
          "content": "Image",
          "info": "If you want to use an image, upload it here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Mad Honey"
        },
        {
          "type": "header",
          "content": "SVG",
          "info": "If you want to use an svg, Paste the code here"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "SVG/HTML Code/shortcode",
          "info": "shortcode: [snippet-name]"
        },
        {
          "type": "header",
          "content": "Image/SVG Min Width"
        },
        {
          "type": "text",
          "id": "image_width",
          "label": "Min Width",
          "default": "40rem",
          "info": "Value in rem. 1rem = 10px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Basmil Image Richtext",
      "category": "Custom"
    }
  ]
}
{% endschema %}
