{% if section %}
  {% assign sections = section.settings %}
{% endif %}

<style>
    #shopify-section-{{ section.id }} {
      {% if sections.background_on == 'main_section' %}
        {% if sections.background_type == 'color' and sections.background_color != "" %}
          background: {% if sections.background_gradient != ""%}{{sections.background_gradient}} {% else %} {{ sections.background_color }}
      {% endif %};
    {% elsif sections.background_type == 'image' and sections.background_image != blank %}
      background: {% if sections.background_gradient != ""%}{{sections.background_gradient}},{% endif %}url('{{ sections.background_image | image_url }}') no-repeat{{ ' '}}{{ sections.background_position }};
      background-size: {{ sections.background_size }};
    {% endif %};
  {% endif %};

  && .faq-wrapper{
    width: {{ sections.faq_width }};
  }
  }

  #shopify-section-{{ section.id }} .main-section{
    gap: {{ section.settings.gap_between_sections }};
      padding: {{ section.settings.padding }};
      margin: {{ section.settings.margin }};
      max-width: {{ section.settings.width }};
      width:100%;
      min-height: {{ section.settings.min_height }};
      {% if sections.background_on == 'content_part' %}
        {% if sections.background_type == 'color' and sections.background_color %}
          background: {{ sections.background_color }};
        {% elsif sections.background_type == 'image' and sections.background_image %}
          background: url('{{ sections.background_image  | image_url }}') no-repeat {{ sections.background_position }};
          background-size: {{ sections.background_size }};
        {% endif %};
      {% endif %};
  }

  @media (max-width: 1167px) {
    #shopify-section-{{ section.id }} {
   && .faq-wrapper {
      width: 100%;
    }
  }
  }


  @media (max-width: 1167px) {
    #shopify-section-{{ section.id }} .main-section{
        max-width:100%;
  }

  {% if sections.padding contains '12rem' %}
          {% assign updated_padding = sections.padding | replace: '12rem', '6.25rem' %}
        {% endif %}
        #shopify-section-{{ section.id }} .main-section{
          padding: {{ updated_padding }};
        }
  }
</style>

<section
  class="main-section flex flex-col justify-center mx-auto py-8  {{ section.settings.custom_class }}"
  id="{{ section.settings.custom_id }}"
  style=""
>
  {% if section.settings.heading or section.settings.description %}
    <div style="width:100%; margin:auto; max-width: {{ section.settings.content_part_width }}; text-align: {{ section.settings.content_alignment }};">
      {% if section.settings.heading %}
        <h2
          {% if section.settings.heading_color %}
            style="color: {{ section.settings.heading_color }};"
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
      {% endif %}
      {% if section.settings.description %}
        <p>{{ section.settings.description }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div
    class="faq-wrapper flex items-center justify-center m-auto faq-section w-full"
    style="color:{{ sections.content_color }};"
  >
    <div class="w-full transition-all ">
      {% for block in section.blocks %}
        <div class="border-t  w-full  border-gray-200 transition-all ">
          <details
            class="group py-8 transition-all"
            style="{% if forloop.last %} padding-bottom:0;{% endif %}"
            name="faq"
            {% if forloop.index0 == 0 %}
              open
            {% endif %}
          >
            <summary class="flex flex-nowrap justify-between items-center font-medium cursor-pointer list-none  group-open:text-tertiary transition-all group-open:text-[2.4rem] group-open:leading-none">
              <span class="m-0 transition-all group-open:text-[2.4rem] xl:group-open:text-[2.8rem] group-open:text-tertiary">
                {{- block.settings.question -}}
              </span>
              <span class="transition group-open:rotate-45">
                <svg
                  fill="none"
                  height="24"
                  stroke="currentColor"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M12 5v14M5 12h14" />
                </svg>
              </span>
            </summary>
            <div class="text-neutral-600 mt-6 group-open:animate-fadeIn pb-[0.4rem]">
              {{ block.settings.answer }}
            </div>
          </details>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if section.settings.show_schema %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for block in section.blocks %}
        {
          "@type": "Question",
          "name": {{ block.settings.question | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.answer | strip_newlines | json }}
          }
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ]
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "FAQ",
  "class": "faq-section",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "show_schema",
      "label": "Show Schema",
      "default": true
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "default": "Left",
      "options": [
        {
          "value": "Left",
          "label": "Left"
        },
        {
          "value": "Center",
          "label": "Center"
        },
        {
          "value": "Right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "content_part_width",
      "label": "Content Part Width",
      "default": "50%"
    },
    {
      "type": "text",
      "id": "faq_width",
      "label": "FAQ Part Width",
      "default": "51rem"
    },
    {
      "type": "text",
      "id": "gap_between_sections",
      "label": "Gap Between Content and FAQ",
      "default": "5.4rem"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default": "15rem 16px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section Margin",
      "default": "0 auto"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Section Width",
      "default": "120rem"
    },
    {
      "type": "text",
      "id": "min_height",
      "label": "Section Height"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background Type",
      "default": "color",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "background_gradient",
      "label": "Background Gradient",
      "info": "eg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_on",
      "label": "Choose Background on",
      "default": "content_part",
      "options": [
        {
          "value": "content_part",
          "label": "Content Part"
        },
        {
          "value": "main_section",
          "label": "Main Section"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "faq-question",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "FAQ",
      "name": "FAQ"
    }
  ]
}
{% endschema %}
