{% schema %}
{
  "name": "Products Variant List",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    },
    {
      "type": "checkbox",
      "id":"show_schema",
      "label": "Show Product Schema",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "varient_seperator",
      "default": true,
      "label": "Add seperator between Title and Variant",
      "info": "if checked, adds | between product title and varient else writes the varient name at 1st followed by product title"
    },
    {
      "type": "text",
      "id": "Card_Button",
      "label": "Card Button Title",
      "default": "Add to Cart"
    },
    {
      "type": "select",
      "id": "box_title_tag",
      "label": "Select The Tag For Icon Box Title",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ]
    },
    {
      "type": "text",
      "id": "content_iconbox_gap",
      "label": "Gap Between Content and Icon Box",
      "info": "eg: 5.3rem",
      "default": "12rem"
    },
    {
      "type": "text",
      "id": "iconbox_gap",
      "label": "Gap Between Icon Boxs",
      "info": "eg: 5.3rem"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_box_content_alignment",
      "label": "Icon Box Content Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "content_part_width",
      "label": "Content Part Width"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Section Width"
    },
    {
      "type": "text",
      "id": "min_height",
      "label": "Section Min Height"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background Type",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "background_gradient",
      "label": "Background Gradient",
      "info": "eg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_on",
      "label": "Choose Background on",
      "default": "content_part",
      "options": [
        {
          "value": "content_part",
          "label": "Content Part"
        },
        {
          "value": "main_section",
          "label": "Main Section"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color"
    },
    {
      "type": "html",
      "id": "iconbox_style",
      "label": "Icon Box Style",
      "default": "<style>.icon-box-section{}</style>"
    }
  ],
  "presets": [
    {
      "category": "Product Variants",
      "name": "Products Variant List",
      "settings": {}
    }
  ]
}
{% endschema %}

{% assign product = all_products[section.settings.product] %}

<style>
  #shopify-section-{{ section.id }} {
    {% if section.settings.background_on == 'main_section' %}
      {% if section.settings.background_type == 'color' and section.settings.background_color != "" %}
        background: {% if section.settings.background_gradient != ""%}
            {{section.settings.background_gradient}}
          {% else %}
          {{ section.settings.background_color }}
        {% endif %};
      {% elsif section.settings.background_type == 'image' and section.settings.background_image != blank %}
        background: {% if section.settings.background_gradient != "" %}
          {{ section.settings.background_gradient }}, {% endif %}url('{{ section.settings.background_image | image_url }}') no-repeat{{ section.settings.background_position }};
        background-size: {{ section.settings.background_size }};
      {% endif %};
    {% endif %};
    && p {
      color: {{ section.settings.content_color }};
    }

    && h2,
    h3 {
      color: {{ section.settings.heading_color }};
    }

    && .wrapper {
      padding: {{ section.settings.padding }};
      margin: {{ section.settings.margin }};
     max-width: {{ section.settings.width }};
     width: 100%;
     min-height: {{ section.settings.min_height }};
    }

    && .product-section-container {
      margin: 0 auto;
      width: 100%;
    }
    && .product-grid {
      display: grid;
      gap: {{ section.settings.iconbox_gap }};
    }
    && .product-card {
      position: relative;
    }
    && .product-card img {
      width: 100%;
      background:#BE935F4D;
      border-radius: 8px;
      height: auto;
    }
    && .product-buttons {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
     && .product-card:hover .product-buttons {
      opacity: 1;
    }
     && .product-card:hover .secondary-image {
      opacity: 1;
    };

    && .contentPart {
      max-width: {{ section.settings.content_part_width }};
      margin: 0 auto;
    }
    && .contentPart h2 {
      color: {{ section.settings.heading_color }};
    }
    && .contentPart p {
      color: {{ section.settings.content_color }};
    }

  }

  @media (min-width: 0px) and (max-width: 420px) {
    #shopify-section-{{ section.id }} .product-grid {
      grid-template-columns: repeat(1, minmax(0, 75%)) !important;
      justify-content: center;
      align-items: center;
    }
  }
</style>
{{ section.settings.iconbox_style }}

<div
  class=" wrapper flex flex-col mx-auto {{ section.settings.custom_class }}"
  id="{{ section.settings.custom_id }}"
  style=""
>
  {% if section.settings.section_title or section.settings.section_description %}
    <div class="contentPart flex flex-col gap-6 {% if section.settings.content_alignment  =='left' %} items-start text-left {% elsif  section.settings.content_alignment  =='center' %} items-center text-center {% else %} items-end text-right {% endif %}">
      <h2>
        {% if section.settings.section_title != blank %}
          {{ section.settings.section_title }}
        {% else %}
          {{ product.title -}}
        {%- endif %}
      </h2>
      {% if section.settings.section_description %}
        <p>{{ section.settings.section_description }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="product-section-container mx-auto w-full overflow-hidden ">
    <div class="product-grid grid grid-cols-3 sm:grid-cols-2">
      {% if product %}
        {%- for variant in product.variants -%}
          <div
            class="
              product-card flex flex-col  relative group
              {% if section.settings.icon_box_content_alignment  =='left' %} items-start text-left {% elsif  section.settings.icon_box_content_alignment  =='center' %} items-center text-center {% else %} items-end text-right {% endif %} sm:items-center sm:text-center
            "
          >
            <div class="relative imageDiv mb-[2.5rem]">
              <a href="{{ variant.url }}" class="block relative">
                {% if variant.image %}
                  <img
                    src="{{ variant.image | image_url }}"
                    class="primary-image w-full h-auto"
                    width="240"
                    height="240"
                    alt="{{ variant.image.alt | default:variant.title }}"
                  >
                {% else %}
                  <img
                    src="{{ product.images.first.src | image_url }}"
                    class="aspect-square primary-image w-full h-auto"
                    width="240"
                    height="240"
                    alt="{{ product.images.first.src.alt | default:product.title }}"
                  >
                {% endif %}
              </a>
              {% comment %} <button class="quickview font-sans font-normal text-accent xl:text-[2rem] xxl:text-[2.4rem] bg-[#d4be7198] text-[#100901]  px-[3.2rem] py-[16px] hidden group-hover:block group-hover:opacity-100 opacity-0  group-hover:bottom-0 transition-all duration-500 absolute -bottom-0  w-full left-0  quick-view-button">Quick View</button> {% endcomment %}
            </div>
            <div class="product-info h-full mt-2 text-center flex flex-col justify-between items-center gap-[16px]">
              <a href="{{ variant.url }}" class="block relative">
                <h3
                  title="{{ product.title }} | {{ variant.title }}"
                  class="flex justify-center items gap-4 relative w-full leading-[2.88rem]  product-title before:absolute before:bottom-0 pb-[3.8px] before:left-1/2 before:-translate-x-1/2 before:w-[22.88%] before:h-[1px] before:bg-black font-serif"
                >
                  {% if section.settings.varient_seperator %}
                    {% comment %}
                      <product-title class="inline-block w-max max-w-[60%] text-ellipsis overflow-hidden whitespace-nowrap">{{ product.title }}</product-title>
                      | {{ variant.title }}
                    {% endcomment %}
                    {{ product.title }}
                    | {{ variant.title }}
                  {% else %}
                    {{ variant.title }}
                    {{ product.title }}
                  {% endif %}
                </h3>
              </a>
              <p class="product-price">{{ variant.price | money }}</p>

              {% if variant.requires_shipping or variant.taxable %}
                <div>
                  {% if variant.taxable %}
                    <span class="tax-info">Tax included</span>
                  {% endif %}

                  {% if variant.requires_shipping and variant.taxable %}
                    |
                  {% endif %}
                  {% if variant.requires_shipping %}
                    <span class="shipping-info -mt-[0.8rem]">Free Shipping</span>
                  {% endif %}
                </div>
              {% endif %}
              <div class="sm:opacity-100 md:opacity-100  w-full  transition-[opacity,background] duration-500 -z-1 opacity-0 group-hover:z-1 group-hover:opacity-100">
                  {%- unless settings.cart_type == 'drawer' -%}
                    <script src="{{ 'selling-plans.js' | asset_url }}" defer="defer"></script>
                    <script src="{{ 'product-form.js' | asset_url }}" defer="defer" type="module" ></script>
                  {%- endunless -%}

                {%- assign product_form_id = 'product-form-' | append: product.variants.first.id -%}

                {%-
                  render 'buy-buttons'
                  , product: product
                  , product_form_id: product_form_id
                  , section_id: section.id
                  , show_pickup_availability: true
                  , button_lable: {{ section.settings.Card_Button }}
                -%}
              </div>
              <style>
                #{{product_form_id}} .product-form__submit {
                  font-weight: 400;
                }
              </style>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% if section.settings.show_schema %}
 
  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}
  <!-- {{ product.metafields.reviews | json }} -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": "{{ product.title | escape }}",
      "url": "{{ request.origin }}{{ product.url }}",
      {% if seo_media -%}
      "image": [
        "https:{{ seo_media | image_url: width: 1920 }}"
      ],
      {%- endif %}
      "description": "{{ product.description | strip_html | escape }}",
      {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": "{{ product.selected_or_first_available_variant.sku | escape }}",
      {%- endif %}
      "brand": {
      "@type": "Brand",
      "name": "{{ product.vendor | escape }}"
      },
      "offers": [
      {%- for variant in product.variants -%}
        {
        "@type": "Offer",
        {%- if variant.sku != blank -%}
          "sku": "{{ variant.sku | escape }}",
        {%- endif -%}
        {%- if variant.barcode.size == 12 -%}
          "gtin12": "{{ variant.barcode }}",
        {%- endif -%}
        {%- if variant.barcode.size == 13 -%}
          "gtin13": "{{ variant.barcode }}",
        {%- endif -%}
        {%- if variant.barcode.size == 14 -%}
          "gtin14": "{{ variant.barcode }}",
        {%- endif -%}
        "availability": "{% if product.available %}https://schema.org/InStock{% else %}https://schema.org/OutOfStock{% endif %}",
        "itemCondition": "https://schema.org/NewCondition",
        "price": "{{ variant.price | divided_by: 100.00 }}",
        "priceCurrency": "{{ cart.currency.iso_code }}",
        "priceValidUntil": "{{ 'now' | date: '%Y' }}-12-31",
        "url": "{{ request.origin }}{{ variant.url }}",
        "shippingDetails": {
          "@type": "OfferShippingDetails",
          "shippingRate": {
          "@type": "MonetaryAmount",
          "value": "{{ settings.minimum_free_shipping }}",
          "currency": "{{ cart.currency.iso_code }}"
          },
          "shippingDestination": {
          "@type": "DefinedRegion",
          "addressCountry": "{{ shop.address.country_code }}"
          },
          "deliveryTime": {
          "@type": "ShippingDeliveryTime",
          "handlingTime": {
            "@type": "QuantitativeValue",
            "minValue": 1,
            "maxValue": 2,
            "unitCode": "DAY"
          },
          "transitTime": {
            "@type": "QuantitativeValue",
            "minValue": 3,
            "maxValue": 7,
            "unitCode": "DAY"
          }
          }
        }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
      ],
    
      },
      "review": [
      {%- assign judge_reviews = product.metafields.judgeme.widget | split: 'jdgm-rev-widg__reviews' | last -%}
      {%- assign widget_html = judge_reviews | replace: "'><div class='", "" | split: 'jdgm-paginate' | first -%}
      {%- assign reviews = widget_html | split: 'jdgm-rev jdgm-divider-top' -%}
      {%- for review in reviews -%}
        {%- if review != '' -%}
        {%- assign rating = review | split: "data-score='" | last -%}
        {%- assign rating_clean = rating | split: "' tabindex" | first -%}
        {%- assign published = review | split: "jdgm-rev__timestamp jdgm-spinner' data-content='" | last -%}
        {%- assign published_clean = published | split: "'></span>" | first -%}
        {%- assign author = review | split: "<span class='jdgm-rev__author'>" | last -%}
        {%- assign author_clean = author | split: '</span>' | first -%}
        {%- assign title = review | split: "<b class='jdgm-rev__title'>" | last -%}
        {%- assign title_clean = title | split: '</b>' | first -%}
        {%- assign body = review | split: "<div class='jdgm-rev__body'>" | last -%}
        {%- assign body_clean = body | split: '</div>' | first -%}
        {
          "@type": "Review",
          "author": {
          "@type": "Person",
          "name": "{{ author_clean | strip_html | escape }}"
          },
          "datePublished": "{{ published_clean | escape }}",
          "reviewBody": "{{ body_clean | strip_html | escape }}",
          "name": "{{ title_clean | strip_html | escape }}",
          "reviewRating": {
          "@type": "Rating",
          "bestRating": "5",
          "ratingValue": "{{ rating_clean }}",
          "worstRating": "1"
          }
        }{% unless forloop.last %},{% endunless %}
        {%- endif -%}
      {%- endfor -%}
      ]
    }
  </script>
{% endif %}
